git+https://github.com/Joelkb/cinemagoer
pyrofork==2.3.45
tgcrypto==1.2.5
pymongo[srv]==4.9.0
marshmallow==3.20.1
motor==3.6.0
umongo==3.1.0
requests
beautifulsoup4
aiohttp
pytz
demoji
psutil==5.9.4
imdbpy
