git+https://github.com/Joelkb/cinemagoer
pyrofork==2.3.45
tgcrypto==1.2.5
pymongo[srv]==3.12.3
marshmallow==3.20.1
motor==2.5.1
umongo==3.1.0
requests
beautifulsoup4
aiohttp
pytz
demoji
psutil==5.9.4
imdbpy
